certifi==2020.6.20
cffi
cycler==0.10.0
docutils
Kivy
kiwisolver==1.2.0
matplotlib==3.3.2
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
numpy
olefile
Pillow
pycparser
Pygments
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.15.0
torch
wincertstore==0.2
